{% extends 'base.html.twig' %}

{% block title %}Détails lecteur{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Détails du lecteur</h1>

    <ul class="list-group">
        <li class="list-group-item"><strong>ID:</strong> {{ reader.id }}</li>
        <li class="list-group-item"><strong>Nom:</strong> {{ reader.username }}</li>
    </ul>

    <div class="mt-3">
        <a class="btn btn-primary" href="{{ path('app_reader_edit', {'id': reader.id}) }}">Edit</a>
        <a class="btn btn-link" href="{{ path('app_reader_index') }}">Retour</a>
    </div>
</div>
{% endblock %}
